<div class="footer">
  <div class="footer-container row j-space-between wrap">
    <div class="col footer-application-info text-center">
      <img class="m-b-25" src="assets/images/logo.png" alt="logo">
      <a href="https://apps.apple.com/ru/app/instagram/id389801252" target="_blank" class="btn btn-link ios-link"></a>
      <a href="https://play.google.com/store/apps/details?id=com.instagram.android&hl=ru" target="_blank" class="btn btn-link play-link"></a>
    </div>
    <div class="col footer-site-links">
      <a href="#">
        <p class="text-bold">О нас</p>
      </a>
      <a href="#">
        <p>Наша команда</p>
      </a>
      <a href="#">
        <p>Партнерам</p>
      </a>
      <a href="#">
        <p>Контакты</p>
      </a>
    </div>
    <div class="col footer-site-links">
      <a href="#">
        <p class="text-bold">О проекте</p>
      </a>
      <a href="#">
        <p>Наши цели</p>
      </a>
      <a href="#">
        <p>Как это работает?</p>
      </a>
      <a href="#">
        <p>Публичная оферта</p>
      </a>
    </div>
    <div class="col footer-site-links">
      <a href="#">
        <p class="text-bold">Партнеры</p>
      </a>
      <a href="https://apps.apple.com/ru/app/instagram/id389801252" target="_blank" class="company-link">
        <img src="assets/images/astana-hub.png" alt="">
      </a>
      <a href="https://apps.apple.com/ru/app/instagram/id389801252" target="_blank" class="company-link">
        <img src="assets/images/flatfly.png" alt="">
      </a>
    </div>
    <div class="col footer-site-links">
      <a href="#">
        <p class="text-bold">Контакты</p>
      </a>
      <a href="tel: +77010906464">
        <p>+7 (701) 090 64-64</p>
      </a>
      <a href="mailto: info@pillowz.kz">
        <p>info@pillowz.kz</p>
      </a>
      <p>Подписывайтесь:</p>
      <div class="social-links">
        <a href="#" class="vk"></a>
        <a href="#" class="instagram"></a>
        <a href="#" class="facebook"></a>
      </div>
    </div>
  </div>
</div>
<div class="bottom-footer text-center">&copy; ТОО “InnovaTech”, 2017-2019</div>
