.row {
  display: flex;
  flex-direction: row;

  .col {
    flex: 1 1 100%;
  }

  &.j-space-between {
    justify-content: space-between;
  }

  &.a-flex-start {
    align-items: flex-start;
  }

  &.wrap {
    flex-wrap: wrap;
  }
}
