$plz-white: #FFFFFF;
$plz-background: #E5E5E5;
$plz-footer: #4A5EA8;
$plz-green: #04AD5B;
$plz-black: #000000;

$plz-foreground: (
  divider: #D5DAEB,
  button:  #4A5EA8,
  shadow:  #CCC,
  comment: #F6F7FB,
  link:    #7C88C3,
  f-bottom:#2A4091,
  thin:    #A4AFD3,
  recom:   #00C667,
  unrecom: #E81123,
  primary: #4A5EA8,
  support: #505050
);
